
<ul class="nav nav-tabs mt-3 justify-content-center">
    <li class="nav-item">
        <a class="nav-link" routerLink="viewmobiles" routerLinkActive="active">View mobiles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="addmobile" routerLinkActive="active">Add new</a>
    </li>
</ul>


<div>
    <router-outlet></router-outlet>
</div>
















<!--
<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-5 mt-3 mb-3">

    <div class="col" *ngFor="let mobileObj of mobiles">-->
        <!-- Nest product-details component to products component 
        <app-product-details [productObj]=mobileObj ></app-product-details>
    </div>
    
</div>
-->