





































/* Assignment - 18
h1
{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 4px;
}
h2
{
    color: rgb(201, 119, 119);
    font-family: 'Times New Roman', Times, serif;
}
h4
{
    font-family: monospace;
    color: blueviolet;
}
#bt1
{
    margin: 30px;
    padding: 8px;
    background-color: pink;
}
#bt2
{
    margin: 30px;
    padding: 8px;
    background-color: rgb(176, 175, 204);
}
#div1
{
    background-color: rgb(149, 168, 202);
    margin: 3% 25%;
}
#div2
{
    background-color: rgb(234, 235, 182);
    margin: 3% 25%;
    padding: 1% 0% 2% 0%;
}
*/