<div id="div2">
    <h3>List of registered users</h3>
    <hr class="w-50 d-block mx-auto">
    <!--
    <h4 *ngIf="data.length==0">No users found</h4>
  
    <div *ngIf="data.length!=0">
  
  
      <div class="accordion" id="ad"> 
        <div  *ngFor="let userObj of data;let ind=index;" class="accordion-item w-50 d-block mx-auto m-3">
          {{getTarget(ind)}}
          {{getId(ind)}}
          <div class="accordion-header m-3">
            <button class="accordian-button" data-bs-toggle="collapse" [attr.data-bs-target]="'#a'+ind"  data-bs-parent="#ad">{{userObj.username}}</button>       <button class="btn btn-danger" style="float: right;" (click)="deleteUser(ind)"><i class="fas fa-trash-alt" ></i></button>
          </div>
          <div class="accordion-collapse collapse attbody" [attr.id]="'a'+ind"  data-bs-parent="#ad">
              <p>Date of birth : {{userObj.DOB}}</p>
              <p>Email : {{userObj.email}}</p>
          </div>
        </div>
      </div>
  
    </div>
  -->
  </div>