<div class="text-warning text-center m-3">
    <h1>GET IN TOUCH</h1>
</div>

<div class="row">
    <div class="col-4 text-center text-white">
        <i class="fas fa-map-marker-alt " style="font-size: 70px; margin: 13px;"></i>
        <h3>ADDRESS</h3>
        <h5>Weifield Group Contracting</h5>
        <p>6950 S. Jordan Road<br>Centennial, CO 80112</p>
        <h5>Industrial Division Office</h5>
        <p>1270 Automation Drive #500<br>Windsor, CO 80550</p>
        <h5>Wyoming Office</h5>
        <p>308 Southwest Dr Unit E<br>Cheyenne, WY 82007</p>
    </div>
    <div class="col-4 text-center text-white">
        <i class="fas fa-phone-alt" style="font-size: 70px; margin: 13px;"></i>
        <h3>PHONE</h3>
        <h5>Weifield Group Contracting</h5>
        <p>303.428.2011 phone<br>303.202.0466 facsimile</p>
        <h5>Weifield 24/7 Service Department</h5>
        <p>303.428.2011<br>(Then press 2 for emergency calls)</p>
        <h5>Industrial Division Office</h5>
        <p>303.428.2011 phone<br>303.202.0466 facsimile</p>
    </div>
    <div class="col-4 text-center text-white">
        <i class="far fa-envelope" style="font-size: 70px; margin: 13px;"></i>
        <h3>EMAIL</h3>
        <h5>Request for Proposal</h5>
        <p>Info@weifieldgroup.com</p>
        <h5>All Bid Opportunities</h5>
        <p>estimating@weifieldgroup.com</p>
        <h5>Electrical Service Calls</h5>
        <p>service@weifieldcontracting.com</p>
        <h5>Employment Opportunities</h5>
        <p>careers@weifieldcontracting.com</p>
    </div>
</div>
